.odd {
  background-color: rgb(248, 157, 179);
  font-family: Verdana, "DejaVu Sans", sans-serif;
}

#second {
  color: rgb(37, 4, 222);
  font-size: 36px;
}

.bigger-font {
  font-size: 24px;
}

#fourth {
  background-color: rgb(155, 242, 149);
  font-weight: bold;
}
